main{
    height: 90px;
}
.titulos{
    position: absolute;
    width: 100%;
    
}
.titulos .texto{
    position: absolute;
    left: 80px;
    text-align: center;
     
}
.titulos h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0;
    font-weight: bolder;
}
.titulos h2{
    margin: 0;
    font-size: 50px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
    line-height: 20px;
}
.mercado{
    position: absolute;
    right: 90px;
    top: 21px;
}
.mercado .grey{
    background-color: rgba(190, 190, 190, 0.897);
    height: 65px;
    width: 280px;
    border-radius: 25px;
    position: absolute; z-index: 1;
    right: 30px;
    top: 3px;
}
.mercado .orange{
    position: absolute; z-index: 2;
    right: 11px;
    top: 1px;
    width: 340px;
    height: 0px;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 65px solid rgb(255, 85, 7);
    transform: perspective( 700px ) rotateY( -45deg );
    border-radius: 20px 10px 35px 35px;
}
.mercado .black{
    position: absolute; z-index: 3;
    right: 50px;
    top: 1px;
    width: 310px;
    height: 60px;
    transform: perspective( 400px ) rotateY( -40deg );
    border-radius: 30px 10px 10px 10px;
    border: 3px solid black;
}
.mercado .text-mercado{
    position: absolute; z-index: 4;
    right: 88px;
    top: 10px;
    font-size: 47px;
    font-family: Arial;
    color: yellow;
    font-weight: lighter;
}
/*INICIO DE LA SECCIÓN DE MERCADO*/
section{
    display: flex;
    justify-content: space-between;
    
}
.section-baguet{
   position: relative;
   flex-basis: 41%;
}
.section-baguet img{
    position: absolute; z-index: 2;
    height: 290px;
    width: 340px;
    border-radius: 50%;
    border: 3px solid rgb(255, 230, 0);
    right:  7px;
}
 .baguettina{
    position: absolute; z-index: 3;
    width: 150px;
    height: 50px;
    line-height: 11px;
    text-align: end;
    left: 240px;
    top: 30px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.582);
    background: linear-gradient(to right, rgba(255,255,255,0) 9%, rgba(255,255,255,0.05) 14%, rgb(255, 255, 255) 100%);
}
.baguettina .precio{
    position: absolute; z-index: 2;
    right: 0;
    font-weight: 900;
}

/*Inicio css de la estrella grande*/
.big-star{
    position: absolute;
    top: 77px;
    left: 11px;
}
.front-star{
    position: absolute;
    z-index: 3;
    top: 100px;
    height: 300px;
    width:  300px;
    background-color: #da2525;
    clip-path: polygon(50% 10%, 70% 35%, 100% 40%, 80% 60%, 85% 85%, 50% 75%, 15% 85%, 20% 60%, 0% 40%, 30% 35%);
    transform: perspective( 500px ) rotateY( 40deg );
    background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 5%, rgba(241,111,92,1) 27%, rgba(246,41,12,1) 55%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
}

.lateral1{
    position: absolute;
    z-index: 2;
    height: 50px;
    width:  100px;
    background-color: #9c1a13;
    top: 151px;
    left: 56px;
    border-top: 0.3px solid white;
    transform: rotateX(129deg) rotateY(119deg) scale(1.1) skew(54deg);
    background: linear-gradient(to bottom, rgba(173,17,17,1) 0%, rgba(173,17,17,0.97) 0%, rgba(173,17,17,0.97) 42%, rgba(241,111,92,0.97) 100%);
}
.lateral2{
    position: absolute;
    z-index: 2;
    height: 19px;
    width:  105px;
    background-color: #9c1a13;
    top: 217px;
    left: -42px;
    border-top: 1.5px solid white;
    border-right: 0.015px solid white;
    transform: rotate(48deg) scale(0.9) skew(-30deg) translate(33px);
    background: linear-gradient(to bottom, rgba(241,111,92,1) 0%, rgba(191,36,19,1) 0%, rgba(248,80,50,1) 0%, rgba(191,36,19,1) 0%, rgba(148,23,12,1) 58%, rgba(148,23,12,1) 100%);
}

.lateral3{
    position: absolute;
    z-index: 1;
    height: 23px;
    width:  105px;
    background-color: #9c1a13;
    top: 282px;
    left: 8.5px;
    border-top: 0.5px solid white;
    transform: rotate(100deg) scale(0.9) skew(4deg) translate(33px);
}
.shadow{
    height: 10px;
    width:  167px;
    margin-top: 160px;
    margin-left: 1px;
    background-color: #fdfdfd;
    box-shadow: 5px 190px 15px 5px rgb(73, 45, 45);
    transform: rotate(-11deg);
}
/*Fin css de la estrella grande*/
.barras{
    position: absolute;
    z-index: 4;
    right: 5px;
    top: 199px;
    
}
.barras .container{
    display: flex;

}
.barra-roja{
    width: 185px;
    height: 37px;
    background-color: rgb(233, 41, 41);
    margin-bottom: 14px;
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    position: relative;
    left: 25px;
    border-left: 2px solid rgb(233, 41, 41);;
    
}
.tip{
    position: relative;
    background-color: rgb(233, 41, 41);
    width: 37px;
    height: 37px;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 0% 50%);
    left: 43px;
}
.t2{
    left: 28px;
    height: 40px;
}
.t3{
    left: 15px;
    height: 42px;
}
.b2{
    width: 200px;
    height: 40px;
    margin-bottom: 17px;
    
    left: 10px;
}
.b3{
    width: 210px;
    height: 42px;
    margin-bottom: 4px;
    left: 0px;
}


.barra-roja div{
    text-align: center;
    margin-top: 3px;
}
.barra-roja .number{ /*números amarillos de las barras rojas*/
    font-size: 23px;
    color: yellow;
    margin: -3px 0 -5px 0;
    font-weight: 700;
}
.star-yellow{
    position: relative;
    top: -25px;
    height: 50px;
    width:  45px;
    background-color:#fef200;
    clip-path: polygon(50% 10%, 70% 35%, 100% 40%, 80% 60%, 85% 85%, 50% 75%, 15% 85%, 20% 60%, 0% 40%, 30% 35%);
    left: 2px;
    color:rgb(233, 41, 41);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    line-height: 17px;
    letter-spacing: -1px;
    
}
.star1{
    font-size: 18px;
    
}
.star2{
    font-size: 18px;
    /* position: relative;
    left: -20px; */
}
.star-yellow .percent{ /*signo de porcentaje dentro de la estrella amarilla*/
    position: absolute;
    color: rgb(218, 42, 42);
    font-size: 6px;
    font-weight: 900;
    right: 5px;
    top: 10px;
}
.star-yellow b{
    color: rgb(233, 41, 41);
    font-size: 6px;
    
}
.b2 .star-yellow{
    left: 9px;
}
.b3 .star-yellow{
    left: 20px;
   
}
.sub-descuento{/*letreros debajo de las estrellas amarillas*/
    position: relative;
    font-size: 9px;
    color: rgb(255, 255, 255);
    top: -33px;
    left: 5px;
    font-weight: 600;
}
.sub2{
    font-size: 7px;
    line-height: 5px;
    left: 8px;
    top: -35px;
    font-weight: 200;
}
.sub3{
    font-size: 6px;
    line-height: 5px;
    left: 8px;
    top: -32px;
    font-weight: 100;
}
.cost{
    position: relative;
    top: 2px;
    font-size: 19px;
    left: 15px;
}
.cost b{
    color: white;
    font-size: 8px;
    position: absolute;
    left: 10px;
}
.c1{
    line-height: 35px;
}
.commentary{
    position: absolute;
    font-size: 7px;
    font-weight: 900;
    right: 0;
    bottom: 80px;
    line-height:  5px;
}
.yellow-bar{
    position: relative;
    background-color:#fef200;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
    font-size: 18px;
    
    
}
.silver{
  background-color: #47c6d7;
  padding-top: 5px;
  padding-left: 2px;
  clip-path: polygon(0% 0%, 81% 0, 100% 50%, 81% 100%, 0% 100%);
  font-size: 19px;
}

.silver .black{
    background-color: black;
    color: white;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-left: -2px;
    width: 76px;
    font-size: 16px;
}
.value{
    line-height: 30px;
    font-weight: bolder;
}

/*Inicio de la sección de productos*/
.all-products{
    
    width: calc(100% - 80px);
    margin: 15px 40px 0 40px;
    position: absolute;
    z-index: 0;
}
.product-conteiner{
    display: flex;
    
}
.product{
    flex-basis: 100%;
    height: 288px;
}
.product-bottom{
    height: 201.6px;
    border-bottom: 2px solid yellow
}
.border-right{
    border-right: 2px solid orange
}
.border-bottom{
    border-bottom: 2px solid orange
}