body{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 150px;
}
p{
    color: white;  
    font-family: Arial, Helvetica, sans-serif;  
    margin-left: 70px;
    margin-top: 55px;
    margin-right: 0;
    letter-spacing: 3px;
    font-size: 24px;
}
h3{
    color: white;
    margin-top: 5px;
    font-size: small;
    letter-spacing: 1px;
    margin-left: 25px;
}
.red{
    display: flex;
    background-color: #ee2e24;
    position: absolute; z-index: 2;
    width: 100%;
    height: 150px;
    
}
.ofertas .lista{
    display: flex;
    
    margin-top: 35px;
    margin-bottom: 0;

}
.descuento{
    background-color: #fef200;
    height: 85px;
    width: 85px;
    border-radius: 8px 8px 8px 8px;
    margin-left: 15px;
    
}

.header .yellow{
    flex-basis: 20%;
    border-radius: 24px 0 0 24px / 59px 0 0 59px;
    height: 150px;
    background:  #fef200;
    position: absolute; z-index: 3;
    right: 0;
    border-left: 7px solid white;
    width: 210px;
}   
.yellow img{
    height: 150px;
    margin-left: 20px;
}   