body{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 120px;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 70px;
    margin-top: 55px;
    margin-right: 0;
    letter-spacing: 5px;
    font-size: 18px;
}

.red{
    display: flex;
    background-color: #ee2e24;
    position: absolute; z-index: 2;
    width: 100%;
    height: 120px;

}
.title{
    background-color: #ee2e24;
    color: white;
    position: absolute;
    z-index: 3;
    top: -14px;
    font-size: 18px;
    left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 67px;

}
b{
    color: #fef200;
    font-size: 20px;
}
u{
    font-size: 9px;
    position: absolute;
    z-index: 4;
    text-decoration: none;
    color: white;
    background-color: #ee2e24;
    right: 0;
    top: 8px;
}
.ofertas .lista{
    display: flex;
    position: absolute;
    margin-top: 35px;
    margin-bottom: 0;
   
}

.descuento{
    background-color: #fef200;
    height: 80px;
    width: 70px;
    border-radius: 8px 8px 8px 8px;
    margin-left: 18px;
    position: relative;
    top: -15px;
    
}
i{
    color: #ee2e24;
    position: absolute;
    z-index: 2;
    height: 20px;
    font-size: 70px; 
    margin-left: -15px;
    margin-top: 0px;
    
}

h3{
    color: white;
    font-size: 8.5px;
    letter-spacing: 1px;
    margin-left: 25px;
    position: absolute;
    bottom: -6px;
} 
.subtible{
    position: absolute;
    z-index: 5;
    font-size: 8px;
    bottom: 0;
    text-align: center;
    left: 7px;
    width: 61px;
    font-weight: bold;
    
}

.header .yellow{
    border-radius: 24px 0 0 24px / 59px 0 0 59px;
    height: 120px;
    width: 250px;
    background:  #fef200;
    position: absolute; z-index: 3;
    right: 0;
    border-left: 7px solid white;
    
}
.yellow img{
    height: 120px;
    margin-left: 20px;
}


/* .star,
.star::before,
.star::after{
    border-color: transparent transparent #3124ee transparent;
    border-width: 0 4rem 2.5rem 4rem;
    border-style: solid;
    position: absolute;
    transform: rotate(180deg);
    margin-top: 1rem;
    margin-left: 0rem;
}

.star::before{
    content: '';
    margin-top: 0rem;
      margin-left: -4.3rem;
    transform: rotate(70deg);
}

.star::after{
    content: '';
    margin-top: 0rem;
      margin-left: -3.87rem;
    transform: rotate(-70deg);
} */



